/*
  .htmlss {
 border : 1px solid blue;
  height : 200px;
  text-align : center;
  line-height : 200px;
}
*/
@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
